.lan{
    position: absolute;
    top:60px;
    width: 100px;
    right: 70px;
    height: 90px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    box-shadow: 0 0 5px;

}

.deButton{
    min-width: 70px;
    width: 70px;
    height: 30px;
    padding: 5px 20px;
    border: none;
    background: green;
    color: #fff;
    font-size: 16px;
}
