.statuswrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px 0px;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.titleststus {
    width: 100%;
    text-align: center;
    font-size: 21px;
    padding-bottom: 10px;
}