.main{
  height: 100%;
  width: 100%;
}


.t_red{
  background-color: rgba(176, 8, 8, 0.366);
}
.t_green{
  background-color: rgba(19, 176, 8, 0.366);
}
.t_yalow{
  background-color: rgba(255, 208, 0, 0.69);
}
